<configuration>
    <!-- Консольний апендер з власним Layout -->
    <appender name="CUSTOM_CONSOLE" class="com.example.DreamBig.logging.CustomConsoleAppender"/>

    <!-- Файловий апендер з простим паттерн Layout -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Рівень логування для кореневого логера -->
    <root level="DEBUG">
        <appender-ref ref="CUSTOM_CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
