<configuration>
    <appender name="CUSTOM_CONSOLE" class="com.example.DreamBig.logging.CustomConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %marker %msg%n</pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{36} - %marker %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CUSTOM_CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
