<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk-UA">
<head>
    <title>DreamBig - Профіль</title>
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="icon" href="/dreambig_logo.png"/>
</head>
<body>
<!-- Шапка -->
<div th:replace="~{fragments/header :: site-header}"></div>

<div class="background-image">
    <div class="container">
        <h1>Профіль користувача</h1>

        <div th:if="${successMessage}" class="success-message">
            <p th:text="${successMessage}" style="color:green"></p>
        </div>

        <div class="profile-info">
            <p><b>Пошта: </b><span th:text="${email}">default email</span></p>
            <p><b>ПІБ: </b><span th:text="${fullName}">default full name</span></p>
        </div>

        <form th:action="@{/profile/update}" method="post">
            <label for="email">Пошта:</label>
            <input type="text" id="email" name="email" placeholder="Ввести пошту" th:value="${email}"/><br><br>

            <label for="fullName">ПІБ користувача:</label>
            <input type="text" id="fullName" name="fullName" placeholder="Ввести ПІБ" th:value="${fullName}"/><br><br>

            <button type="submit">Оновити дані</button>
        </form>
    </div>
</div>

<!-- Футер -->
<div th:replace="~{fragments/footer :: site-footer}"></div>
</body>
</html>
